@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Figma design tokens */
  --color-heading: #0b1714;
  --color-action: #08203c;
  --color-body-text: #656565;
  --color-subtext: #e8ede4;
  --color-card: #fafafa;
  --color-action-shades: #eceef0;
  --color-text-primary: #1f1f1f;
  --color-text-secondary: #595959;
  --color-text-quaternary: #8c8c8c;
  --color-border-input: #e8ede4;
  --color-page-bg: #e9e9e9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rethink-sans);
  --font-mono: var(--font-geist-mono);
  --font-rethink: var(--font-rethink-sans);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rethink-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


